@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>وب سایت دی جی مووی</h1>
    <p class="lead">  امکان دانلود سریع و راحت موسیقی وفیلم از طریق وبسایت  دی جی مووی وجود دارد</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>پرمخاطب ترین</h2>
       
        <p>
            <img src="~/Content/shop/assets/product_50x50x1.jpg" />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ادامه مطلب &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>پرفروش ترین</h2>
        <p>
            <img src="~/Content/shop/assets/product_50x50x0.jpg" /></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">ادامه مطلب  &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">ادامه مطلب &raquo;</a></p>
    </div>*@
</div>