@model DigiMovei.Models.Customer

@{
    ViewBag.Title = "Details";
}

<div class="table-responsive">
    <Div class="float-right">
        <table class="table table-bordered table-hover">
            <tr>
                <th style="text-align :right">نام</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th style="text-align :right">تاریخ تولد</th>
                <td>@Model.BirthDate</td>
            </tr>
            <tr>
                <th style="text-align :right">آیا عضو خبرنامه؟</thstyle="text-align>
                <td>
                    @if (Model.IsSubscribedToNewsLetter)
                    {
                        <text>بله</text>
                    }
                    else
                    { <text>خیر</text>
                    }
                </td>
            </tr>
        </table>

    </Div>

</div>

<br />
<br />
<a class="btn btn-default" href="@Url.Action("Index")"    >
    بازگشت 
    <span class="glyphicon glyphicon-share" >

    </span>

</a>