@model IEnumerable<DigiMovei.Models.Customer>
    @{

        ViewBag.Title = "نمایش مشتریان";
    }
<a class="btn btn-default" href="@Url.Action("create")">
    افزودن
    <span class="glyphicon glyphicon-plus">

    </span>

</a>
<br />
<div class="table-responsive">
    <Div class="float-right">
        <table class="table table-bordered table-hover">
            <tr>
                <th style="text-align :right">نام</th>
                <th style="text-align :right">عضو خبرنامه میباشد ؟</th>
                <th style="text-align :right">جزئیات</th>
            </tr>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="2">
                        در  حال حاضر هیچ مشتری در سیستم وجود ندارد
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@if (item.IsSubscribedToNewsLetter)
                    {
                        <text>بله</text>
                    }
                    else
                    { <text>خیر</text>
                    }
                    </td>
                    <td>
                        @Html.ActionLink("نمایش", "Details", "Customer",new { id=item.Id},null)
                    </td>

                </tr>

            }



        </table>

    </Div>

</div>